@font-face {
	font-family: "Gilroy";

	src: url("../fonts/Gilroy-ExtraBold.svg") format("svg"), /* Legacy iOS */
	url("../fonts/Gilroy-ExtraBold.woff") format("woff"), /* Modern Browsers */
	url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";

	src: url("../fonts/Gilroy-Light.svg") format("svg"), /* Legacy iOS */
	url("../fonts/Gilroy-Light.woff") format("woff"), /* Modern Browsers */
	url("../fonts/Gilroy-Light.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";

	src: url("../fonts/Gilroy-Regular.svg") format("svg"), /* Legacy iOS */
	url("../fonts/Gilroy-Regular.woff") format("woff"), /* Modern Browsers */
	url("../fonts/Gilroy-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

a {
	color: currentColor;
	text-decoration-color: #ff153c80;
	transition: all 0.2s;
}

a:hover {
	text-decoration-color: #ff153cff;
	transition: none;
}

._accent {
	color: #e9bd00;
	font-weight: 700;
}

.wrapper {
	width: 90%;
	max-width: 1320px;
	margin: 0 auto;
}

.company-name {
	font-size: 5rem;
	font-weight: 300;
}

.header {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	min-height: 100vh;
	color: white;
	background: url(../img/dark-bkg.jpg) no-repeat center right / cover;
}

.header:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: #00000080;
}

.header .wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 7.5rem 0 12rem;
}

.logo {
	display: block;
	width: 20rem;
}

.header__logo {
	align-self: flex-start;
	margin-bottom: 10rem;
}

.header__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 75%;
	max-width: 990px;
	margin: 0 auto;
}

.header__title {
	margin-bottom: 5rem;
	font-size: 8rem;
	font-weight: 700;
	text-align: center;
}

.header__subtitle {
	margin-bottom: 15rem;
	font-size: 4.8rem;
	color: #12ade4;
	text-align: center;
}

.header__block {
	width: 100%;
}

.header__text {
	font-size: 3.4rem;
	font-weight: 700;
}

.header__accent {
	font-weight: 700;
	color: #e9bd00;
}

.header__small-text {
	margin-top: 4rem;
	font-size: 2.4rem;
}

.columns__item._big {
	width: 70%;
}

.columns {
	display: flex;
	justify-content: space-between;
}

.columns__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 50%;
}

.columns__item + .columns__item {
	align-items: flex-end;
	margin-left: 2.8vw;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 6rem;
	color: white;
	font-size: 2.4rem;
	font-weight: 700;
	background-color: #ff153c;
	border: none;
	border-radius: 50px;
	transition: all 0.3s;
}

.btn:hover {
	cursor: pointer;
	background-color: #5bbe90;
	transform: scale(1.1);
}

.dark {
	color: white;
}

.decor {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	width: 20%;
	max-width: 380px;
	height: 100%;
	margin-top: 50%;
	background: url("../img/decor.png") no-repeat center right / contain;
}

.free {
	position: relative;
	padding: 6rem 0 12rem;
	background: url("../img/dark-bkg.jpg") no-repeat center / cover;
}

.free__title {
	margin-top: 6rem;
	margin-bottom: 4rem;
	font-size: 7.8rem;
	font-weight: 700;
	text-align: center;
}

.free__subtitle {
	max-width: 65%;
	margin: 0 auto;
	font-size: 4.8rem;
	text-align: center;
}

.free__block {
	margin-top: 7rem;
}

.knows {
	position: relative;
	z-index: 1;
	padding-top: 7rem;
	background-color: #050e19;
}

.knows:after {
	content: "";
	position: absolute;
	top: -12rem;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, #050e19 90%, #050e1900);
}

.knows .wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.knows__container {
	margin-bottom: 7rem;
}

.soldier {
	position: relative;
	align-self: flex-end;
	width: 25vw;
	max-width: 500px;
	left: 0;
}

.knows__title {
	margin-bottom: 9rem;
	font-size: 4.8rem;
	font-weight: 700;
}

.list {
	font-size: 2.5rem;
	list-style-position: inside;
}

.list__item:not(:last-child) {
	margin-bottom: 2rem;
}

.authors {
	padding: 12rem 0 0;
}

.authors__title {
	margin-bottom: 15rem;
	font-size: 4.8rem;
	font-weight: 700;
}

.authors__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 4rem;
}

.author {
	display: flex;
	align-items: center;
	flex: 1 0 auto;
	max-width: 45%;
	min-width: 520px;
	margin-bottom: 14rem;
	font-size: 2.8rem;
	text-align: center;
}

.author__content {
	text-align: start;
	margin-left: 4rem;
}

.author__img-block {
	position: relative;
	flex: 0 0 auto;
	display: block;
	width: 20rem;
	height: 20rem;
	margin-bottom: 3rem;
}

.author__img-block:before {
	content: "";
	position: absolute;
	left: -4rem;
	top: -10%;
	z-index: -1;
	width: 100%;
	height: 120%;
	background: url("../img/sphere.png") no-repeat center left / contain;
}

.author__img {
	width: 100%;
	height: 100%;
}

.author__name {
	font-weight: 700;
}

.slider-section {
	padding: 17rem 0 11rem;
	background-color: #269be3;
}

.slide {
	width: 70vw;
	max-width: 900px;
	margin: 0 5vw;
	padding: 8rem 7rem;
	font-size: 2.8rem;
	background-color: white;
	transition: opacity 0.2s;
}

.slide:not(.slick-active) {
	opacity: 0.3;
}

.slide:not(.slick-active) > * {
	opacity: 0;
}

.slick-arrow {
	z-index: 2;
	width: 50px;
	height: 80px;
}

.slick-prev {
	left: 5vw;
	margin-top: -40px;
	transform-origin: center;
	transform: scaleX(-1);
}

.slick-next {
	right: 5vw;
}

.slick-prev:before, .slick-next:before {
	content: "";
	display: block;
	width: 50px;
	height: 80px;
	background: url("../img/arrow.png") no-repeat center / contain;
}

.slide__wrapper {
	display: flex;
}

.slide__img-block {
	flex: 0 0 auto;
	width: 20rem;
	height: 20rem;
	margin-right: 5rem;
	border-radius: 50%;
	background-color: #645fde;
}

.slide__img {
	width: 100%;
	height: auto;
}

.slide__name {
	margin-bottom: 3rem;
	font-weight: 700;
}

.slider__btn {
	margin-top: 10rem;
	margin-left: auto;
	margin-right: auto;
}

.advantages {
	padding: 12rem 0;
}

.advantages__container {
	display: flex;
	flex-direction: column;
}

.advantages__item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 7rem;
}

.advantages__title {
	width: 40%;
	font-size: 4.8rem;
}

.advantages__text {
	width: 55%;
	font-size: 2.8rem;
}

.text-accent {
	font-weight: 700;
}

.for {
	padding: 8rem 0 12rem;
}

.for__title {
	font-size: 4.8rem;
	font-weight: 700;
}

.for__container {
	display: flex;
	align-items: flex-start;
	margin-top: 12rem;
}

.for__item {
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 25%;
	padding-top: 20px;
	padding-right: 20px;
}

.for__item:before {
	content: "";
	position: relative;
	left: 0;
	top: -20px;
	display: block;
	width: 100px;
	height: 10px;
	background-color: #645fde;
}

.for__item:nth-child(2):before {
	background-color: #09b7e4;
}

.for__item:nth-child(3):before {
	background-color: #ff153c;
}

.for__item:nth-child(4):before {
	background-color: #e9bd00;
}

.for__text {
	flex: 0 0 80%;
	min-width: 260px;
	font-size: 2.4rem;
}

.program {
	padding: 10rem 0 12rem;
}

.program__title {
	margin-bottom: 6rem;
	font-size: 4.8rem;
}

.program__subtitle {
	font-size: 2.8rem;
}

.program__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 11rem;
	margin-bottom: 10rem;
	counter-reset: program-counter;
}

.program__block {
	display: flex;
	width: 50%;
	margin-bottom: 12rem;
}

.program__block:before {
	counter-increment: program-counter;
	content: counter(program-counter);
	display: block;
	margin-top: -4.5rem;
	margin-right: 8rem;
	font-size: 9rem;
	font-weight: 700;
	color: #645fde;
}

.program__block:last-child {
	margin-bottom: 0;
}

.program__list {
	list-style-position: outside;
}

.program__list li {
	list-style-type: none;
}

.program__list li:before {
	content: "—";
	margin-left: -3rem;
	margin-right: 1.5rem;
}

.program__list li._accent-item:before {
	content: "+";
	color: #09b7e4;
}

._accent-item {
	color: #e9bd00;
	font-weight: 700;
}

.program__conclusion {
	font-size: 3.8rem;
	font-weight: 700;
	text-align: center;
}

._purple-accent {
	color: #645fde;
	font-weight: 700;
}

.footer {
	position: relative;
	overflow: hidden;
	z-index: 1;
	display: flex;
	align-items: center;
	min-height: 100vh;
	padding: 15rem 0;
	background: url("../img/footer-bkg.png") no-repeat center / cover;
}

.decor2 {
	position: absolute;
	top: 0;
	left: -20%;
	z-index: -1;
	display: block;
	height: 110%;
	min-width: 50%;
	margin-top: 35%;
	background: url("../img/dekor2.png") no-repeat center right / contain;
}

.price-block {
	display: flex;
	align-items: center;
	padding: 6.5rem 7rem;
	border-radius: 25px;
	background-color: #e9bd00;
}

.price__item {
	width: 50%;
}

.price__title {
	margin-bottom: 3.5rem;
	font-size: 4.8rem;
}

.price__num {
	font-size: 6rem;
	font-weight: 700;
	color: white;
}

.price__text {
	font-size: 2.8rem;
	color: white;
}

.footer__btn {
	margin-top: 4rem;
	margin-left: auto;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	.author__img:before {
		background-image: url("../img/sphere@2x.png");
	}

	.decor {
		background-image: url("../img/decor@2x.png");
	}

	.footer {
		background-image: url("../img/footer-bkg2x.png");
	}

	.decor2 {
		background-image: url("../img/dekor2@2x.png");
	}
}

@media (max-width: 1024px) {
	html {
		font-size: 50%
	}

	.for__container {
		flex-wrap: wrap;
		margin-top: 7rem;
	}

	.for__item {
		flex-direction: column;
		flex: 1 0 auto;
		width: 50%;
		min-width: 300px;
		padding-bottom: 5rem;
		padding-right: 2rem;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 37.5%;
	}

	.header .wrapper {
		padding: 4rem 0 7rem;
	}

	.header__title {
		font-size: 5rem;
	}

	.header__subtitle {
		margin-bottom: 5rem;
		font-size: 3.5rem;
	}

	.header__block {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.columns__item._big {
		width: 100%;
		align-items: center;
	}

	.columns__item + .columns__item {
		margin-left: 0;
		margin-top: 5rem;
		align-items: center;
	}

	.soldier {
		display: none;
	}

	.author {
		margin-bottom: 8rem;
	}

	.advantages {
		padding: 7rem 0;
	}

	.advantages__item {
		flex-direction: column;
		margin-bottom: 5rem;
	}

	.advantages__title {
		margin-bottom: 2.5rem;
	}

	.advantages__title,
	.advantages__text {
		width: 100%;
	}

	.for {
		padding: 5rem 0 0;
	}

	.program {
		padding: 5rem 0 7rem;
	}

	.program__container {
		margin-top: 6rem;
	}

	.program__block {
		width: 100%;
		margin-bottom: 7rem;
	}

	.slide {
		width: 90vw;
	}

	.slide__wrapper {
		flex-direction: column;
		align-items: center;
	}

	.slide__img-block {
		margin-right: 0;
		margin-bottom: 2rem;
	}

	.slide__name {
		text-align: center;
	}

	.slick-arrow {
		display: none;
	}

	.slick-dots {
		bottom: -7rem;
	}

	.slick-dots li button:before {
		content: "";
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		background-color: #ff153c;
	}

	.footer {
		padding: 7rem 0;
	}

	.price-block {
		flex-direction: column;
	}

	.price__item {
		width: 100%;
	}

	.price__item + .price__item {
		margin-top: 7rem;
	}
}

@media (max-width: 480px) {
	.header__container {
		width: 100%;
	}

	.knows {
		padding-top: 4rem;
	}

	.knows__title {
		margin-bottom: 3rem;
	}

	.authors {
		padding: 5rem 0;
	}

	.authors__title {
		margin-bottom: 5rem;
	}

	.author {
		min-width: 100%;
	}

	.author__img-block {
		width: 15rem;
		height: 15rem;
	}

	.price-block {
		padding: 3.5rem	4rem;
	}
}
